@import "variables";

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; //1rem = 10px
}
body {
  font-family: $primaryFont;
  font-size: 1.6rem; //16px
}

.container {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
}

h1,
h2,
h3 {
  margin: 0px;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3rem;
}

p {
  font-size: 1.8rem;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}
