$primaryFont: "Poppins", sans-serif;

// COLORS
$white: #fff;
$black: #000;
$yellow: #fffd98;
$red: #ff4242;
$blue: #132fff;
$lightblue: #81adc8;
$darkblue: #23395b;
$green: #59c9a5;
$lightgreen: #b9e3c6;

// FONTS
$light: 200;
$regular: 400;
$bold: 700;
$black: 900;

//MEDIA QUERIES
$phone: 480px;
$tablet: 768px;
$desktop: 1200px;

// SPACING
$space: 4rem;
