.gallery {
  padding: $space 0;
  h3 {
    text-align: center;
  }
}

.gallery-img {
  margin-top: $space;
  padding: 0;
  list-style: none;

  @include grid(2) {
    gap: 3rem;
  }

  @include tablet {
    @include grid(4) {
      gap: $space / 2.5;
    }
  }

  @include desktop {
    @include grid(6) {
      gap: 0.3rem;
    }
  }

  li {
    justify-self: center;
  }
}

.overlayImg {
  position: fixed;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  top: 0; //posición en que lo fijamos
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wideImg {
  width: 60%;
}

.close {
  margin-top: $space;
  padding: 1rem 1.2rem;
  border: 2px solid $black;
  border-radius: 50%;
  background: $white;
}

.close:hover {
  cursor: pointer;
}
