.information {
  margin: $space auto;

  @include tablet {
    @include grid(2) {
      column-gap: $space;
    }
  }
}

.information-content {
  margin-top: $space / 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  @include tablet {
    margin-top: 0;
  }
  p {
    line-height: 1.5;
  }
  .date {
    font-weight: $bold;
    color: $red;
  }
}

.information-img {
  width: 100%;
}
